div.board {
    padding-top: 3em;
    text-align: center;
    clear: both;
}

.row>div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 5em;
}

div.row {
    clear: left;
    margin: 0 auto;
    width: 302px;
}

.result {
    visibility: hidden;
}

hr {
    width: 500px;
}

/* Cell borders */

.left,
.center {
    border-right: 1px black solid;
}

.top,
.middle {
    border-bottom: 1px black solid;
}
